<!DOCTYPE html>
<html>
<head>
  <title>Ujumbo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
  
  <%= javascript_include_tag "application" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Ujumbo", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to "Sign in", 'login' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">

    </div>


  <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :id => key %>
  <% end %>

  <%= yield %>

</body>
</html>
